---
import IconDownload from '@/shared/components/icons/IconDownload.astro';
---

<div class='text-center mb-12 mt-10'>
  <div
    class='relative overflow-hidden gradient-border w-16 h-16 gradient-bg rounded-2xl mb-6 mx-auto'
  >
  <div class="bg-black/40 m-[1px] rounded-2xl absolute inset-0 z-0 inline-flex items-center justify-center">
    <IconDownload size={32} class='fill-white relative z-40' />
    
    </div>
  </div>
  <h1 class='text-4xl lg:text-5xl font-bold text-foreground mb-4'>
    Subí tu recurso y <span class='text-primary'>ayudá</span> a otros estudiantes
  </h1>
  <p class='text-foreground-secondary max-w-2xl mx-auto'>
    Resúmenes, parciales y finales organizados por materia. Tu contribución hace la diferencia en la
    comunidad académica.
  </p>
</div>
