---
interface Props {
  title: string;
  type: string;
  mostRecent: boolean;
  fileFormat: string;
}

const { title, type, mostRecent, fileFormat } = Astro.props;
---

<div class='p-6 pb-4'>
  <div class='flex justify-between flex-col-reverse sm:flex-row'>
    <h5 class='font-bold text-white text-xl group-hover:text-yellow-100 transition-colors'>
      {title}
    </h5>
    <div class='flex justify-between items-start mb-4'>
      <div class='flex gap-2'>
        <span
          class='w-min py-2 px-4 bg-gradient-to-r capitalize from-yellow-500/15 to-yellow-600/15 border border-yellow-500/30 text-yellow-200 font-semibold rounded-full text-sm'
        >
          {type}
        </span>
        <span
          class='w-min py-2 px-4 bg-gradient-to-r uppercase from-blue-500/15 to-blue-600/15 border border-blue-500/30 text-blue-200 font-semibold rounded-full text-sm'
        >
          {fileFormat}
        </span>
      </div>
      {
        mostRecent && (
          <p class='sm:hidden text-sm py-1 bg-emerald-900/50 border border-emerald-500/30 text-emerald-300 rounded-full px-3'>
            Más reciente
          </p>
        )
      }
    </div>
  </div>
</div>
