<div class="pointer-events-none absolute inset-0 z-0 overflow-hidden">
  <div class="flex flex-col items-end absolute -right-60 -top-10 blur-xl">
    <div
      class="h-[10rem] rounded-full w-[60rem] bg-gradient-to-b blur-[6rem] from-purple-600 to-sky-600"
    >
    </div>
    <div
      class="h-[10rem] rounded-full w-[90rem] bg-gradient-to-b blur-[6rem] from-pink-900 to-yellow-400"
    >
    </div>
    <div
      class="h-[10rem] rounded-full w-[60rem] bg-gradient-to-b blur-[6rem] from-yellow-600 to-sky-500"
    >
    </div>
  </div>
  <div class="absolute bottom-0 w-full h-full bg-gradient-to-b from-transparent to-primary-foreground"></div>
</div>



