<footer class='mt-32'>
  <div class='py-8 relative w-full max-w-6xl 2xl:max-w-8xl mx-auto'>
    <div
      class='flex flex-col-reverse sm:flex-row gap-4 justify-center sm:items-center sm:justify-between'
    >
      <p class='mt-4 text-center text-sm text-foreground-muted lg:mt-0 lg:text-left'>
          © 2025. Desarrollado por <a
          target='_blank'
          href='https://juanpenalba.vercel.app'
          class='underline italic text-juan'>Juanpa</a
        >
      </p>
      <ul class='flex justify-center gap-4 items-center'>
        <li>
          <a
            href='https://exa.unicen.edu.ar/'
            target='_blank'
            class='text-foreground-muted font-bold hover:text-accent hover:scale-105 transition-all duration-200 flex gap-1 items-center'
          >
            <svg width='20' height='20' viewBox='0 0 24 24'
              ><g fill='none'
                ><path
                  fill='currentColor'
                  d='M4 4.001h16v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z'
                  opacity='.16'></path><path
                  stroke='currentColor'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M11 4H4v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5M9 15L20 4m-5 0h5v5'></path></g
              ></svg
            ><span>Exactas</span>
          </a>
        </li>
        <li>
          <a
            href='https://moodle.exa.unicen.edu.ar/'
            target='_blank'
            class='text-foreground-muted font-bold hover:text-accent hover:scale-105 transition-all duration-200 flex gap-1 items-center'
          >
            <svg width='20' height='20' viewBox='0 0 24 24'
              ><g fill='none'
                ><path
                  fill='currentColor'
                  d='M4 4.001h16v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z'
                  opacity='.16'></path><path
                  stroke='currentColor'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M11 4H4v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5M9 15L20 4m-5 0h5v5'></path></g
              ></svg
            ><span>Moodle</span>
          </a>
        </li>
        <li>
          <a
            href='https://guarani.unicen.edu.ar/autogestion/exactas/'
            target='_blank'
            class='text-foreground-muted font-bold hover:text-accent hover:scale-105 transition-all duration-200 flex gap-1 items-center'
          >
            <svg width='20' height='20' viewBox='0 0 24 24'
              ><g fill='none'
                ><path
                  fill='currentColor'
                  d='M4 4.001h16v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z'
                  opacity='.16'></path><path
                  stroke='currentColor'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M11 4H4v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5M9 15L20 4m-5 0h5v5'></path></g
              ></svg
            ><span>Guarani</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
