---
import ContainerSection from "@/shared/components/ContainerSection.astro";
import SubjectsView from "./SubjectsView";

---

<ContainerSection id='subjects' className='py-30 relative'>
<h1 class='text-xl font-bold mb-8 text-foreground sm:text-3xl text-center'>
      Explora las Materias de
      <span class="gradient-text">
        tu Carrera
      </span>
    </h1>
  <SubjectsView client:load />
</ContainerSection>
