---
import CorrelativesComponent from '@/features/home/components/correlatives/CorrelativesSection';
import Layout from '@/layouts/Layout.astro';
import HeroSection from '@/features/home/components/hero/HeroSection.astro';
import SubjectsSection from '@/features/home/components/subjects/SubjectsSection.astro';
---

<Layout>
  <HeroSection />
  <SubjectsSection />
  <span id='correlatives '></span>
  <CorrelativesComponent
    client:load
    title='Correlativas Ingenieria en Sistemas'
    clickeable={true}
  />
</Layout>
 