---
import CorrelativesComponent from '@/components/react/correlatives/CorrelativesSection';
import HeroSection from '@/components/sections/hero/HeroSection.astro';
import SubjectsSection from '@/components/sections/subjects/SubjectsSection.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <HeroSection />
  <SubjectsSection />
  <span id='correlatives '></span>
  <CorrelativesComponent
    client:load
    title='Correlativas Ingenieria en Sistemas'
    clickeable={true}
  />
</Layout>
