---
import Layout from "@/layouts/Layout.astro";
import ContainerSection from "@/shared/components/ContainerSection.astro";
import LoginForm from "@/features/auth/components/LoginForm";
---

<Layout>
  <ContainerSection id="login">
    <div class="flex justify-center py-16">
      <LoginForm client:load />
    </div>
  </ContainerSection>
</Layout>
