---
import ContainerSection from "@/shared/components/ContainerSection.astro";

---

<ContainerSection id='hero' className='flex justify-center items-center py-28 min-h-screen'>
  <div class='mx-auto max-w-5xl md:text-center'>
    <h1 class='text-4xl font-bold text-foreground sm:text-5xl'>
      Explora las Materias de
      <span class="gradient-text">
        tu Carrera
      </span>
    </h1>

    <p class='mt-4 text-base text-pretty text-foreground-secondary sm:text-lg/relaxed'>
      Filtra por carrera, año, cuatrimestre y accede a resumenes, parciales, finales, programas y
      mas. Todo en un solo lugar, hecho por y para estudiantes
    </p>

    <div class='mt-12 flex justify-center gap-4 sm:mt-6 flex-col md:flex-row'>
      <a
        class='flex items-center  duration-200 hover:scale-105 rounded-xl  gradient-bg gradient-border  font-bold text-white shadow-sm '
        href='./#subjects'
      >
       <div class="bg-black/40 m-[1px] relative inset-0 z-0 rounded-2xl gap-2 flex items-center justify-center px-5 py-3 w-full">
     <svg width='20' height='20' class='mr-2' viewBox='0 0 24 24'>
          <path
            class='stroke-white'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314'></path>
        </svg>
        <span> Explorar Materias </span>
    </div>
       
      </a>

        <a
        class='flex justify-center items-center gap-2 px-5 py-3  duration-200 hover:scale-105 rounded-xl border  border-white/90  font-bold text-white shadow-sm '
        href='https://www.instagram.com/exactamente.ar/' target='_blank' rel='noopener noreferrer'
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#efefef" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>
        <span>Instagram</span>
       
      </a>

      
    </div>
  </div>
</ContainerSection>

