---
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
import ContainerPage from '@/components/common/ContainerPage.astro';
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';
import '@fontsource-variable/rubik';
import '@/styles/global.css';
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <GoogleAnalytics />
    <title>Exactamente</title>
  </head>
  <body class='font-rubik bg-primary-foreground relative scroll-smooth'>
    <div class='absolute w-full h-screen top-0'>
      <img src='/images/fondo.webp' class='object-left w-full h-full object-cover' />
      <div
        class='absolute -bottom-6 w-full h-96 bg-gradient-to-b from-transparent to-primary-foreground'
      >
      </div>
    </div>
    <div class='absolute w-full h-screen md:h-[50vh] bottom-0'>
      <img src='/images/fondo.webp' class='object-left w-full h-full object-cover' />
      <div
        class='absolute -top-96 md:-top-32 w-full h-96 md:h-32 bg-gradient-to-b from-transparent to-primary-foreground'
      >
      </div>
      <div
        class='absolute top-0 w-full h-96 md:h-32 bg-gradient-to-b to-transparent from-primary-foreground'
      >
      </div>
    </div>
    <ContainerPage>
      <Header />
      <slot />
      <Footer />
    </ContainerPage>
  </body>
</html>
