---
import IconDownload from '@/shared/components/icons/IconDownload.astro';
---

<div class='text-center mb-12 mt-10'>
  <div
    class='inline-flex items-center justify-center w-16 h-16 bg-gradient-to-r from-[#FFDD00] to-[#FFCC00] rounded-2xl mb-6'
  >
    <IconDownload size={32} class='fill-accent-foreground' />
  </div>
  <h1 class='text-4xl lg:text-5xl font-bold text-foreground mb-4'>
    Subí tu aporte y <span class='text-primary'>ayudá</span> a otros estudiantes
  </h1>
  <p class='text-foreground-secondary max-w-2xl mx-auto'>
    Resúmenes, parciales y finales organizados por materia. Tu contribución hace la diferencia en la
    comunidad académica.
  </p>
</div>
