---
interface Props {
  className?: string;
  id: string;
}
const { id, className = 'py-20 md:py-28' } = Astro.props;
---

<section class={`relative w-full md:min-h-screen ${className}`}>
  <span id={id} class='absolute -top-20'></span>
  <slot />
</section>
