---
import ContainerSection from "@/shared/components/ContainerSection.astro";

---

<ContainerSection id='hero' className='flex justify-center items-center py-28 min-h-screen'>
  <div class='mx-auto max-w-5xl text-center'>
    <h1 class='text-4xl font-bold text-foreground sm:text-5xl'>
      Explora las Materias de
      <strong class='text-primary'> tu Carrera </strong>
    </h1>

    <p class='mt-4 text-base text-pretty text-foreground-muted sm:text-lg/relaxed'>
      Filtra por carrera, año, cuatrimestre y accede a resumenes, paraciales, finales, programas y
      mas. Todo en un solo lugar, hecho por y para estudiantes
    </p>

    <div class='mt-8 flex justify-center gap-4 sm:mt-6 flex-col md:flex-row'>
      <a
        class='flex items-center gap-2 duration-200 hover:scale-105 rounded-xl border border-primary bg-primary px-5 py-3 font-bold text-black shadow-sm transition-colors hover:sepia-50'
        href='./#subjects'
      >
        <svg width='20' height='20' class='mr-2' viewBox='0 0 24 24'>
          <path
            class='stroke-primary-foreground'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314'></path>
        </svg>
        <span> Explorar Materias </span>
      </a>

      <a
        class='flex items-center gap-2 hover:scale-105 duration-200 rounded-xl border border-gray-200 px-5 py-3 font-medium text-foreground shadow-sm transition-colors hover:sepia-50'
        href='/upload'
      >
        <svg width='20' height='20' viewBox='0 0 24 24'
          ><path
            fill='currentColor'
            d='m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z'
          ></path></svg
        >
        <span> Subir un Recurso </span>
      </a>
    </div>
  </div>
</ContainerSection>
