---
import ContainerSection from "@/shared/components/ContainerSection.astro";

---

<ContainerSection id='hero' className='flex justify-center items-center py-28 min-h-screen'>
  <div class='mx-auto max-w-5xl md:text-center'>
    <h1 class='text-4xl font-bold text-foreground sm:text-5xl'>
      Explora las Materias de
      <span class="gradient-text">
        tu Carrera
      </span>
    </h1>

    <p class='mt-4 text-base text-pretty text-foreground-secondary sm:text-lg/relaxed'>
      Filtra por carrera, año, cuatrimestre y accede a resumenes, parciales, finales, programas y
      mas. Todo en un solo lugar, hecho por y para estudiantes
    </p>

    <div class='mt-12 flex justify-center gap-4 sm:mt-6 flex-col md:flex-row'>
      <a
        class='flex items-center  duration-200 hover:scale-105 rounded-xl  gradient-bg gradient-border  font-bold text-white shadow-sm '
        href='./#subjects'
      >
       <div class="bg-black/40 m-[1px] relative inset-0 z-0 rounded-2xl gap-2 flex items-center justify-center px-5 py-3 w-full">
     <svg width='20' height='20' class='mr-2' viewBox='0 0 24 24'>
          <path
            class='stroke-white'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314'></path>
        </svg>
        <span> Explorar Materias </span>
    </div>
       
      </a>

      
    </div>
  </div>
</ContainerSection>

