---
import IconCalendar from '@/assets/icons/IconCalendar.astro';
import IconTime from '@/assets/icons/IconTime.astro';
import IconUniversity from '@/assets/icons/IconUniversity.astro';
import HeaderContainer from '@/components/common/HeaderContainer.astro';

interface Props {
  title: string;
  year: number;
  quadmester: number;
}
const { title, year, quadmester } = Astro.props;
---

<HeaderContainer urlImg='/images/materia-3.webp'>
  <div class='flex flex-col gap-3'>
    <h2 class='text-3xl sm:text-4xl font-bold text-white'>{title}</h2>
    <div class='flex items-start gap-5 sm:items-center py-4 sm:gap-8 flex-col sm:flex-row'>
      <div class='flex items-center gap-2'>
        <IconUniversity size={20} />
        <div class='flex flex-col'>
          <p class='text-foreground-muted'>Carrera</p>
          <span class='text-foreground-secondary font-bold'>Ingenieria en Sistemas</span>
        </div>
      </div>

      <div class='flex items-center gap-2'>
        <IconCalendar size={20} />
        <div class='flex flex-col'>
          <p class='text-foreground-muted'>Año</p>
          <span class='text-foreground-secondary font-bold'>{year}º año</span>
        </div>
      </div>

      <div class='flex items-center gap-2'>
        <IconTime size={20} />
        <div class='flex flex-col'>
          <p class='text-foreground-muted'>Cuatrimestre</p>
          <span class='text-foreground-secondary font-bold'>{quadmester}º cuatrimestre</span>
        </div>
      </div>
    </div>
  </div>
</HeaderContainer>
